

/*
 Multicoloured Hover Variations
*/

#social-fb {
  color: #3B5998;
  margin-right: 5px;
}
#social-tw{
  color: #4099FF;
  margin-right: 5px;
  margin-left: 5px;
}
#social-gp {
  color: #d34836;
  margin-left: 5px;
}
