<footer class="footer">
<div class="container">
          <div class="text-center center-block">
              <br />
                  <a href="https://www.facebook.com/smail.dinar.96"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/DinaR_Sm41L"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/u/0/110589789941136222247"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
          </div>
          </div>
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a routerLink="/"> MyFirstApp.com</a>
  </div>
</footer>
