.btn{
  height:47px !important;
  width:47px !important;
}
.footer-copyright{
  background-color: rgba(0,0,0,.2);
  color: rgba(255,255,255,.6);
  overflow: hidden;
}
.btn-gplus{
  background-color: #dd4b39;
  color: #fff;
}
.btn-tw {
  background-color: #38A1F3;
  color: #fff;
}
.btn-fb {
  background-color: #3b5998;
  color: #fff;
}
.btn-yt {
  background-color: #ff0000;
  color: #fff;
}
