<footer class="page-footer text-center bg-dark text-light pt-0">
  <div class="container pt-5 mb-4 text-justify">
    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4 ">
        <h6 class="text-uppercase font-weight-bold"><strong>Techmerch</strong></h6>
        <hr class="blue mb-4 mt-0 d-inline-block mx-auto" >
        <p>Techmerch  is a website where customers can find and discover anything related to technology that they might want to buy online. Techmerch also endeavors to offer its customers the lowest possible prices. </p>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold"><strong>Legal infos</strong></h6>
        <hr class="blue mb-4 mt-0 d-inline-block mx-auto" >
        <p><a href="#!">License</a></p>
        <p><a href="#!">Terms of service </a></p>
        <p><a href="#!">Privacy policy</a></p>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold"><strong>Useful links</strong></h6>
        <hr class="blue mb-4 mt-0 d-inline-block mx-auto" >
        <p><a href="#!">Your Account</a></p>
        <p><a href="#!">Customer support</a></p>
        <p><a href="#!">Cookies</a></p>
        <p><a href="#!">FAQ</a></p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3">
        <h6 class="text-uppercase font-weight-bold"><strong>Contact</strong></h6>
        <hr class="blue mb-4 mt-0 d-inline-block mx-auto" >
        <p><i class="fa fa-home mr-3"></i> 676 INSAT Centre Urbain Nord BP، Tunis Cedex 1080</p>
        <p><i class="fa fa-envelope mr-3"></i> contact@techmerch.com</p>
        <p><i class="fa fa-mobile mr-3"></i>+216 90384082</p>
        <p><i class="fa fa-phone mr-3"></i>+216 70473318</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="col-md-5 col-lg-4 mx-auto">
    <div class="text-center">
      <ul class="list-unstyled list-inline">
        <li class="list-inline-item">
          <a href="https://www.facebook.com/smail.dinar.96" class="btn btn-fb float rounded-circle  mx-1">
            <i class="fa fa-facebook align-middle"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://twitter.com/DinaR_Sm41L" class="btn btn-tw float rounded-circle mx-1">
            <i class="fa fa-twitter align-middle"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="" class=" btn btn-gplus float rounded-circle mx-1">
            <i class="fa fa-google-plus align-middle"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class="btn btn-yt float rounded-circle mx-1">
            <i class="fa fa-youtube align-middle"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright pt-3">
      <p>© 2018 Copyright:
        <a href="/"><strong> Techmerch.com</strong></a>
      </p>

  </div>
</footer>
