<div class="conatiner">
  <ng-container *ngIf="!isEmpty; then cart else emptyCart"></ng-container>
  <ng-template #cart>
    <table id="cart" class="table ">
      <thead>
        <tr class="text-center">
          <th style="width:15%">Reference</th>
          <th style="width:15%">Number of items</th>
          <th style="width:15%">Date Added</th>
          <th style="width:22%" class="text-center">Amount</th>
          <th style="width:20%" class="text-center">Status</th>
          <th style="width:10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let o of orders; index as i">
          <td class="text-center align-middle">{{o.orderReference}}</td>
          <td class="text-center align-middle"><a href="" data-toggle="modal" data-target="#details" (click)="getProducts(o)">{{getNumberOfItems(o,i)}}</a></td>
          <td class="align-middle text-center">{{formatDate(o.orderCreationDate)}}</td>
          <td class="text-center align-middle">${{o.orderAmount}}</td>
          <td class="text-center align-middle text-uppercase">
            <ng-container [ngSwitch]="o.orderStatus">
                <div *ngSwitchCase="'pending'" class="alert alert-secondary mb-0">{{o.orderStatus}}</div>
                <div *ngSwitchCase="'fail'" class="alert alert-danger mb-0">{{o.orderStatus}}</div>
                <div *ngSwitchCase="'shipped'" class="alert alert-success mb-0">{{o.orderStatus}}</div>
            </ng-container>
          </td>
          <td class="align-middle">
            <button class="btn btn-danger btn-sm btn-float btn-rounded" (click)="deleteOrder(o.orderId,i)"><i class="fa fa-trash-o mr-2"></i>Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
  <ng-template #emptyCart>
    <div class="text-center">
      <img src="./img/emptycart.png" alt="" class="img-fluid">
      <h1>Ooops! You don't have any order.</h1>
      <h2>Keep shopping with us and grab exciting offers!</h2>
      <a routerLink="/" class="btn btn-primary btn-float btn-rounded">Continue shopping</a>
    </div>
  </ng-template>
</div>
<div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Products</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr class="text-center">
              <th style="width:40%">Product</th>
              <th style="width:10%">Price</th>
              <th style="width:10%">Quantity</th>
              <th style="width:10%">Amount</th>
              <!-- <th style="width:8%">Quantity</th>
                    <th style="width:22%" class="text-center">Amount</th>
                    <th style="width:10%"></th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of products; index as i">
              <td class="text-justify align-middle">
                <div class="row">
                  <div class="col-sm-2"><img src="{{p.productImgurl}}" alt="..." class="img-fluid" /></div>
                  <div class="col-sm-10 my-auto">
                    <p>{{p.productName}}</p>
                  </div>
                </div>
              </td>
              <td class="text-center align-middle">${{p.productPrice}}</td>
              <td class="text-center align-middle">{{quantities[i]}}</td>
              <td class="text-center align-middle">${{p.productPrice*quantities[i]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
