<div class="container">
  <div class="row">
    <!--Card1-->
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./img/7.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">TÉLÉPHONE PORTABLE SAMSUNG GALAXY S7 EDGE </h5>

              <a href="#" class="btn btn-primary"  data-toggle="modal" data-target="#card1">Description</a>
            </div>
          </div>
    </div>
    <div class="modal fade" id="card1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">TÉLÉPHONE PORTABLE SAMSUNG GALAXY S7 EDGE </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <img class="card-img-top" src="./img/7.jpg" alt="Card image cap">
                <p class="card-text">Double SIM - Ecran 5.5" Super AMOLED - Résolution 2560x1440 (QHD) - Processeur Octa-Core Exynos 8890, 2.3GHz - Android 6.0 Marshmallow - RAM 4Go - Mémoire 32Go - Double caméra: 12MP (Arrière), 5MP (Frontale) - Lecteur d'empreintes digitales - 4G - Wifi - Bluetooth - Batterie 3000mAh - Garantie 1 an + SIM Data avec 1Go d'Internet ou SIM Voix + Cadeau d'une valeur de 15 Dt</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    <!--Card2-->
      <div class="col">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="./img/8.jpg" alt="Card image cap">
              <div class="card-body text-center">
                <h5 class="card-title">TÉLÉPHONE PORTABLE HUAWEI MATE 10 LITE 4G DOUBLE SIM</h5>
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#card2">Description</a>
              </div>
            </div>
      </div>
      <div class="modal fade" id="card2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">TÉLÉPHONE PORTABLE HUAWEI MATE 10 LITE 4G DOUBLE SIM</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <img class="card-img-top" src="./img/8.jpg" alt="Card image cap">
                  <p class="card-text">Double SIM - Ecran 5.9" Full HD IPS - Processeur Kirin 659 Octa-Core 4xCortex-A53 2.36GHz + 4xCortex-A53 1.7GHz - Android 7.0 + EMUI5.1 - RAM 4 Go - Mémoire 64 Go up to 128 Go - Caméra frontale: 13 M + 2 M - Caméra arrière: 16M + 2M - Wifi - 4G - GPS - Bluetooth - Batterie 3340 mAh - Garantie 1 an + SIM Data avec 2 Go d'Internet ou SIM Voix Offerte 5dt + Coque + Film de Protection</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">Add to cart</button>
              </div>
            </div>
          </div>
        </div>
    <!--card3-->
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./img/9.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">TÉLÉPHONE PORTABLE APPLE IPHONE X / 64 GO / SILVER</h5>
              <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#card3">Description</a>
            </div>
          </div>
    </div>
    <div class="modal fade" id="card3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">TÉLÉPHONE PORTABLE APPLE IPHONE X / 64 GO / SILVER</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <img class="card-img-top" src="./img/9.jpg" alt="Card image cap">
                <p class="card-text">Ecran Super Retina 5.8" HD OLED Multi-Touch - Processeur Bionic Hexa-Core 64 bits - RAM : 3 Go - Appareil photo 12 Mp ( Arriére ) , 7 Mp ( Frontale ) - Stokage : 256 Go - 4G - NFC - GPS - Face ID - Couleur Silver - Garantie 1an</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    <div class="w-100"></div>
  <!--card4-->
  <div class="col">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./img/10.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">TÉLÉPHONE PORTABLE NOKIA 3310 / DOUBLE SIM / JAUNE </h5>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#card4">Description</a>
          </div>
        </div>
  </div>
  <div class="modal fade" id="card4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">TÉLÉPHONE PORTABLE NOKIA 3310 / DOUBLE SIM / JAUNE </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <img class="card-img-top" src="./img/10.jpg" alt="Card image cap">
              <p class="card-text">Double SIM - Ecran 2.4" QVGA (320 x 240) - Mémoire 16 Mo Extensible Jusqu'à 32 Go via carte microSD - Système d'exploitation: Nokia Series 30+ - Appareil photo : Caméra principale 2 MP avec Flash LED - Batterie 1200 mAh - Autonomie en conversation (2G): Jusqu'à 22.1 h - Radio FM - Bluetooth - Couleur Jaune - Garantie 1 an + Gratuité 30Dt</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
    <!--card5-->
  <div class="col">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./img/11.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">TÉLÉPHONE PORTABLE LG G3 D855 / 16 GO / NOIR / Quad-Core </h5>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#card5">Description</a>
          </div>
        </div>
  </div>
  <div class="modal fade" id="card5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">TÉLÉPHONE PORTABLE LG G3 D855 / 16 GO / NOIR / Quad-Core </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <img class="card-img-top" src="./img/11.jpg" alt="Card image cap">
              <p class="card-text">Ecran 5.5" Quad HD IPS - Résolution 2560 x 1440 pixels - Processeur Qualcomm Snapdragon 801, Quad-Core 2,5 GHz - RAM 2 Go - Mémoire 16 Go - Android 4.4.2 KitKat - 2x Appareils Photos: 13 MP avec Stabilisateur Optique d'Image, Autofocus Laser Double Flash et 2.1 MP (avant) - Résolution Vidéo 4K Ultra HD - 4G - Wifi - Bluetooth - Garantie 1 an</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
    <!--card6-->
  <div class="col">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./img/12.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">TÉLÉPHONE PORTABLE SONY XPERIA Z ULTRA / ETANCHE</h5>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#card6">Description</a>
          </div>
        </div>
  </div>
  <div class="modal fade" id="card6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">TÉLÉPHONE PORTABLE SONY XPERIA Z ULTRA / ETANCHE</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <img class="card-img-top" src="./img/12.jpg" alt="Card image cap">
              <p class="card-text">Ecran 6.4" IP58 Water Proof Full HD - Processeur Qualcomm MSM8974 Quad Core, 2.2 Ghz -  Android 4.2 Jelly Bean (upgradable vers 4.4 KitKat) - RAM 2 Go - Mémoire 16 Go - 2x Appareils Photos : 8 Mégapixels (Arriére), 2 Mégapixels (Frontale) - Poids 212g - Dimensions 179 x 92 x 6,5 mm - Garantie 1 an</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Add to cart</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
