<div class="conatiner">
  <ng-container *ngIf="!isEmpty; then cart else emptyCart" ></ng-container>
  <ng-template #cart>
<table class="table">
    <thead>
    <tr class="text-center">
      <th style="width:50%">Product</th>
      <th style="width:10%">Price</th>
      <th style="width:8%">Quantity</th>
      <th style="width:22%" class="text-center">Amount</th>
      <th style="width:10%"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products; index as i">
      <td class="text-justify">
        <div class="row">
          <div class="col-sm-2"><img src="{{p.productImgurl}}" alt="..." class="img-fluid"/></div>
          <div class="col-sm-10 my-auto">
            <p>{{p.productName}}</p>
          </div>
        </div>
      </td>
      <td class="text-center align-middle">${{p.productPrice}}</td>
      <td class="align-middle">
        <!-- <input type="number" class="form-control text-center" value="1"> -->
        <div class="input-group d-flex flex-row justify-content-around align-items-center">
          <span class="badge red-grad nohoverfloat text-light mr-1">{{quantities[i]}}</span>
          <div class="d-flex flex-row w-50">
            <button class="btn btn-primary  btn-float   btn-plus" (click)="setQuantity(p.productId,'inc',i)">+</button>
          <button class="btn btn-primary  btn-float  btn-minus"(click)="setQuantity(p.productId,'dec',i)">-</button>
          </div>
        </div>
      </td>
      <td  class="text-center align-middle">${{p.productPrice*quantities[i]}}</td>
      <td class="align-middle">
        <button (click)="removeItem(p.productId)" class="btn btn-danger btn-sm btn-float rounded-circle"><i class="fa fa-trash-o"></i></button>
      </td>
    </tr>
  </tbody>
</table>
<form #addressForm="ngForm">
    <div class="d-flex flex-row justify-content-around mb-3">
        <label [hidden]="address.valid || address.pristine" class=" mt-3  text-danger" for="address">Shipping address is required </label>
        <input type="text" required [(ngModel)]="shippingAddress" class="address pl-2" placeholder="Shipping address" name="shippingAddress" id="address" #address="ngModel">
        <button class="btn btn-primary btn-rounded btn-float ml-3" [disabled]="!addressForm.form.valid" (click)="addOrder()">Order</button>
    </div>
  </form>
</ng-template>
<ng-template #emptyCart>
  <div class="text-center">
      <img src="./img/emptycart.png" alt="" class="img-fluid">
      <h1>Ooops! No items in cart.</h1>
      <h2>Keep shopping with us and grab exciting offers!</h2>
      <a routerLink="/"  class="btn btn-primary btn-float btn-rounded">Continue shopping</a>
  </div>
</ng-template>
</div>
