<nav class="nav justify-content-center nav-tabs nav-stacked">
  <a class="nav-link" routerLink="/ordinateurs&tablettes" routerLinkActive="active current">Ordinateurs & Tablettes</a>
  <a class="nav-link" routerLink="/phones" routerLinkActive="active current">Téléphonie</a>
  <a class="nav-link" routerLink="/stockage" routerLinkActive="active current">Stockage</a>
  <a class="nav-link" routerLink="/impression&copieurs" routerLinkActive="active current">Impression & Copieurs</a>
  <a class="nav-link" routerLink="/accessories" routerLinkActive="active current">Accessories</a>
</nav>
