<div class="container">
  <div class="row">
    <!--Card1-->
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./img/13.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">DISQUE SanDisk SSD 128 GO 2.5" </h5>

              <a href="#" class="btn btn-primary"  data-toggle="modal" data-target="#card1">Description</a>
            </div>
          </div>
    </div>
    <div class="modal fade" id="card1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">DISQUE SanDisk SSD 128 GO 2.5" </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <img class="card-img-top" src="./img/13.jpg" alt="Card image cap">
                <p class="card-text">Disque Dur SATA 2.5" - Capacité 128 Go - Alimentation 0.6 W - Température de fonctionnement  de 0ºC à 70ºC (-32ºF à 158ºF) - Température de stockage : de -55ºC à 95ºC (-67ºF à 203ºF) - Dimensions : 7,00 x 100,58 x 70,61 mm</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    <!--Card2-->
      <div class="col">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="./img/14.jpg" alt="Card image cap">
              <div class="card-body text-center">
                <h5 class="card-title">DISQUE DUR SSD SILICON POWER 2.5" / 240 GO</h5>
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#card2">Description</a>
              </div>
            </div>
      </div>
      <div class="modal fade" id="card2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">DISQUE DUR SSD SILICON POWER 2.5" / 240 GO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <img class="card-img-top" src="./img/14.jpg" alt="Card image cap">
                  <p class="card-text">Disque Dur Silicon Power SSD 2.5" Slim S55 - Capacité 240 Go - Interface SATA III 6Gbps - Taux Transfert de données Jusqu'à 500Mb/s en Lecture, Jusqu'à 450Mb/s en Ecriture - Tension de fonctionnement 5V - Dimensions: 100.0 x 69.9 x 7.0mm - Poids: 63 g - Garantie 1 an</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">Add to cart</button>
              </div>
            </div>
          </div>
        </div>
    <!--card3-->
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./img/15.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">DISQUE DUR INTERNE 3.5" SEAGATE 3 TO</h5>
              <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#card3">Description</a>
            </div>
          </div>
    </div>
    <div class="modal fade" id="card3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">DISQUE DUR INTERNE 3.5" SEAGATE 3 TO</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <img class="card-img-top" src="./img/15.jpg" alt="Card image cap">
                <p class="card-text">Disque Dur Interne 3.5" Seagate SkyHawk Surveillance - Capacité 3 To - Format 3.5" - Vitesse de rotation 7200 RPM - Taille du cache 64 Mo - Utilisation pour NAS - Prend en charge jusqu'à 64 caméras - Dimensions 101.85 x 26.11 x 146.99mm - Poids 635g - Garantie 3 ans</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    <div class="w-100"></div>
  <!--card4-->
  <div class="col">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./img/16.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">HDD EXTERNE ANTICHOCS USB 3.0 / 1 TO </h5>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#card4">Description</a>
          </div>
        </div>
  </div>
  <div class="modal fade" id="card4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">HDD EXTERNE ANTICHOCS USB 3.0 / 1 TO </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <img class="card-img-top" src="./img/16.jpg" alt="Card image cap">
              <p class="card-text">Disque Dur Externe 2,5" - Capacité 1 To - Interface USB 3.0 - Poids 201g - Système Windows 2000/XP/Vista/7 Mac OS 9.0 ou plus Linux Kernel 2.4 ou ultérieure - Couleur Rouge - Dimensions 121 x 81 x 21mm - Garantie 1 an</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
    <!--card5-->
  <div class="col">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./img/17.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">CLÉ USB ADATA C906 / 16GO / NOIR </h5>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#card5">Description</a>
          </div>
        </div>
  </div>
  <div class="modal fade" id="card5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">CLÉ USB ADATA C906 / 16GO / NOIR </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <img class="card-img-top" src="./img/17.jpg" alt="Card image cap">
              <p class="card-text">Clé USB Adata C906 - Capacité 16 Go - Interface USB 2.0 - Couleur Noir et Bleu - Garantie à vie</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
    <!--card6-->
  <div class="col">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./img/18.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">CLÉ USB ADATA C906 / 32GO / BLANC</h5>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#card6">Description</a>
          </div>
        </div>
  </div>
  <div class="modal fade" id="card6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">CLÉ USB ADATA C906 / 32GO / BLANC</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <img class="card-img-top" src="./img/18.jpg" alt="Card image cap">
              <p class="card-text">Clé USB Adata C906 - Capacité 32 Go - Interface USB 2.0 - Couleur Noir et Bleu</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Add to cart</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
