<div class="pt-3 container">
  <div class="text-center pb-3">
    <button class="btn btn-primary btn-sm float btn-rounded" data-toggle="modal" data-target="#add">Add a New Product
      <i class="fa fa-plus-square ml-2"></i></button>
  </div>

  <table class="table table-bordered shadow">
    <thead>
      <tr class="text-center">
        <th class="align-middle" scope="col">Product Id</th>
        <th class="align-middle" scope="col">Product Name</th>
        <th class="align-middle" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center" *ngFor="let p of products">
        <th class="align-middle" scope="row">{{p.productId}}</th>
        <td class="align-middle">{{p.productName}}</td>
        <td class="align-middle">
          <a class="text-success" (click)="selectedProduct = p; uproduct = p" data-toggle="modal" data-target="#update"><i class="fa fa-refresh mr-3"></i></a>
          <a class="text-danger" (click)="selectedProduct = p" data-toggle="modal" data-target="#delete"><i class="fa fa-times ml-2"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- update product -->
<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="updateModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content float">
      <div class="modal-header">
        <h5 class="modal-title text-success" id="updateModalTitle">Update Product</h5>
        <button type="button" class="close" (click)="selectedProduct =  null" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #updateForm="ngForm">
          <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputName" value="{{selectedProduct?.productName}}" required
                [(ngModel)]="uproduct.productName" name="productName" #title="ngModel">
            </div>
          </div>
          <div [hidden]="title.valid || title.pristine" class="row mt-1 ml-2 mr-2 alert alert-danger justify-content-center">Title
            is required</div>
          <div class="form-group row">
            <label for="inputCategory" class="col-sm-2 col-form-label">SubCategory</label>
            <div class="col-sm-10">
              <select class="custom-select" required [(ngModel)]="uproduct.productSubCategory" name="productSubCategory"
                #subcategory="ngModel">
                <option ngValue="{{uproduct.productSubCategory}}" selected="{{selectedProduct?.productSubCategory.subCategoryName}}">{{selectedProduct?.productSubCategory.subCategoryName}}</option>
                <ng-container *ngFor="let c of subCategories">
                  <option *ngIf="c.subCategoryId != selectedProduct?.productSubCategory.subCategoryId" ngValue="{{c}}">{{c.subCategoryName}}</option>
                </ng-container>
              </select>
            </div>
          </div>
          <div [hidden]="subcategory.valid || subcategory.pristine" class="row mt-1 ml-2 mr-2 alert alert-danger justify-content-center">SubCategory
            is required</div>
          <div class="form-group row">
            <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
              <textarea name="productDescription" id="inputDescription" class="form-control" required [(ngModel)]="uproduct.productDescription"
                rows="5" value="{{selectedProduct?.productDescription}}" #description="ngModel"></textarea>
            </div>
          </div>
          <div [hidden]="description.valid || description.pristine" class="row mt-1 ml-2 mr-2 alert alert-danger justify-content-center">Description
            is required</div>
          <div class="form-group row">
            <label for="inputPrice" class="col-sm-2 col-form-label">Price</label>
            <div class="input-group col-sm-10">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>
              <input type="text" class="form-control" id="inputPrice" value="{{selectedProduct?.productPrice}}"
                required [(ngModel)]="uproduct.productPrice" pattern="\d+\.?\d*" name="productPrice" #price="ngModel">
            </div>
          </div>
          <div [hidden]="price.valid || price.pristine" class="row mt-1 ml-2 mr-2 alert alert-danger justify-content-center">Price
            is required</div>
            <div class="form-group row">
                <label for="inputDiscount" class="col-sm-2 col-form-label">Discount</label>
                <div class="input-group col-sm-10">
                  <div class="input-group-prepend">
                    <div class="input-group-text">%</div>
                  </div>
                  <input type="text" class="form-control" id="inputDiscount" value="{{selectedProduct?.productDiscount}}"
                    required [(ngModel)]="uproduct.productDiscount" pattern="^[0-9][0-9]?$|^100$" name="productDiscount" #discount="ngModel">
                </div>
              </div>
              <div [hidden]="discount.valid || discount.pristine" class="row mt-1 ml-2 mr-2 alert alert-danger justify-content-center">Discount must be between 0 and 100
                </div>
          <div class="form-group row">
            <label for="inputImgurl" class="col-sm-2 col-form-label">Imgurl</label>
            <div class="col-sm-10">
              <input type="url" class="form-control" id="inputImgurl" value="{{selectedProduct?.productImgurl}}"
                required [(ngModel)]="uproduct.productImgurl" name="productImgurl" #image="ngModel">
            </div>
          </div>
          <div [hidden]="image.valid || image.pristine" class="row mt-1 ml-2 mr-2 alert alert-danger justify-content-center">Image
            is required</div>
          <div class="form-check form-check-inline">
            <label for="checkAvailability" class="mr-5 col-form-label">Availability</label>
                <div class="form-check form-check-inline ml-2">
                    <input type="radio" class="form-check-input" id="checkAvailabilityTrue" value="true"
                      required [(ngModel)]="uproduct.productAvailability" name="productAvailability" #avaialable="ngModel">
                      <label for="checkAvailabilityTrue" class="col-form-label">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="checkAvailabilityFalse" value="false"
                      required [(ngModel)]="uproduct.productAvailability" name="productAvailability" #avaialable="ngModel">
                      <label for="checkAvailabilityFalse" class="col-form-label">No</label>
                </div>
          </div>
        </form>
      </div>
      <!-- <div [hidden]="!submitted">izhfiozefh</div> -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-float btn-rounded" [disabled]="!updateForm.form.valid" (click)="updateProduct();setString('updated')" data-toggle="modal" data-target="#success">Update</button>
      </div>
    </div>
  </div>
</div>
<!-- add product -->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="addModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content float">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="addModalTitle">Add Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #addForm="ngForm">
          <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputName" placeholder="Title" required [(ngModel)]="aproduct.productName"
                name="productName" #title="ngModel">
            </div>
          </div>
          <div [hidden]="title.valid || title.pristine" class="row mt-1 ml-2 mr-2 alert alert-danger justify-content-center">Title
            is required</div>
          <div class="form-group row">
            <label for="inputCategory" class="col-sm-2 col-form-label">SubCategory</label>
            <div class="col-sm-10">
              <select class="custom-select" required [(ngModel)]="aproduct.productSubCategory" name="productSubCategory"
                #subcategory="ngModel">
                <option value="null" disabled selected hidden>Choose a subcategory</option>
                <option *ngFor="let c of subCategories" [ngValue]="c">{{c.subCategoryName}}</option>
              </select>
            </div>
          </div>

          <div [hidden]="subcategory.valid || subcategory.pristine" class="row mt-1 ml-2 mr-2 alert alert-danger justify-content-center">SubCategory
            is required</div>
          <div class="form-group row">
            <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea name="productDescription" id="inputDescription" class="form-control" required [(ngModel)]="aproduct.productDescription"
                rows="5"#description="ngModel" placeholder="Description"></textarea>
            </div>
          </div>
          <div [hidden]="description.valid || description.pristine" class="row mt-1 ml-2 mr-2 alert alert-danger justify-content-center">Description
            is required</div>
          <div class="form-group row">
            <label for="inputPrice" class="col-sm-2 col-form-label">Price</label>
            <div class="input-group col-sm-10">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>
              <input type="text" class="form-control" id="inputPrice" placeholder="Price" required [(ngModel)]="aproduct.productPrice"
                pattern="\d+\.?\d*" name="productPrice" #price="ngModel">
            </div>
          </div>
          <div [hidden]="price.valid || price.pristine" class="row mt-1 ml-2 mr-2 alert alert-danger justify-content-center">Price
            is required</div>
          <div class="form-group row">
            <label for="inputImgurl" class="col-sm-2 col-form-label">Imgurl</label>
            <div class="col-sm-10">
              <input type="url" class="form-control" id="inputImgurl" placeholder="Imgurl" required [(ngModel)]="aproduct.productImgurl"
                name="productImgurl" #image="ngModel">
            </div>
          </div>
          <div [hidden]="image.valid || image.pristine" class="row mt-1 ml-2 mr-2 alert alert-danger justify-content-center">Image
            is required</div>
        </form>
      </div>
      <!-- <div [hidden]="!submitted">izhfiozefh</div> -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-float btn-rounded" [disabled]="!addForm.form.valid" (click)="addProduct(); addForm.reset(); setString('added')" data-toggle="modal" data-target="#success">Add</button>
      </div>
    </div>
  </div>
</div>
<!-- Delete Modal -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content float">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalCenterTitle">Delete Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="pr-2 pl-4"><i class="fa fa-exclamation-triangle fa-3x text-danger"></i></div>
        <div class="pl-4">
          <p><strong class="text-justify">Are you sure you want to delete this product !<br>This process cannot be
              undone</strong></p>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-danger btn-float btn-rounded" (click)="deleteProduct(selectedProduct.productId)">Delete</button>
        <button type="button" class="btn btn-secondary btn-float btn-rounded" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- Success modal -->
<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content float">
      <div class="modal-header ">
        <h5 class="modal-title text-success" id="exampleModalCenterTitle">Product {{s}} successfully</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- <div class="modal-body text-center">
        <div class="pl-4">
          <p><strong class="text-success"></strong></p>
        </div>
      </div> -->
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary btn-rounded btn-float" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
