.badge{
  background-color: #ff3547;
  border-radius: 2.5px;
}
.nav-tabs{
  border: 0;
}
 .nav-link{
  border-radius: 5px !important;
}
.dropdown-menu{
  border:0;
}
.search{
  border-radius: 10rem 0 0 10rem !important;
}
.input-group{
  border-radius: 10rem !important;
}
.search-btn{
  border-radius: 0 5rem 5rem 0 !important;
  background-color: white;
  border: 1px solid #ced4da;
  border-left: none;
}
