
.carousel-indicators li{
  background-color: #0099CC;
  border-radius: 12px;
  width: 12px;
  height: 12px;
}
.carousel-indicators .active{
  width: 18px;
  height: 18px;
  background-color:#0099CC;
}
.carousel{
  border: 1px solid rgb(233, 227, 227);
  border-radius: 5px;
}
.rating {
    color: #ffa000;
    list-style-type: none;
    padding: 0;
}
.list-group-item:hover{
  background-color: deepskyblue !important;
  color: white !important;
  text-align: center;
}
.liactive {
  background-color: deepskyblue !important;
  color: white !important;
  text-align: center;
}
/* #carouselExampleIndicators{
  background-color: #f5f5f5;
} */
.card{
  background-color: #fafafa;
}
