<div class="container">
  <section class="row  mb-5">
    <!-- Subcategories -->
    <div class="sub-categories col-lg-4 my-auto">
      <div class="title text-center">
        <h5>Subcatgories</h5>
      </div>
      <ul class="list-group nohoverfloat rounded">
        <ng-container *ngFor="let s of subCategories; index as i ">
            <li id="subCategories" class="list-group-item hoverable" (click)="getProductsBySubCategory(s.subCategoryId); isActive = s.subCategoryId" [ngClass]="{liactive: isActive === s.subCategoryId}" >{{s.subCategoryName}}</li>
        </ng-container>
      </ul>
    </div>
    <!-- Top rated -->
    <div class="top-rated col-lg-8 ">
      <div class="title text-center">
        <h5>Top Rated</h5>
      </div>
      <div id="carouselExampleIndicators" class="carousel slide h-100" data-ride="carousel">
        <div class="controls mb-1 pb-1 mt-1 pt-1 text-center">
          <a class="btn btn-primary rounded-circle float mr-1" href="#carouselExampleIndicators" role="button"
            data-slide="prev">
            <i class="fa fa-chevron-left"></i>
          </a>
          <a class="btn  btn-primary rounded-circle float ml-1" href="#carouselExampleIndicators" role="button"
            data-slide="next">
            <i class="fa fa-chevron-right"></i>
          </a>
        </div>
        <div class="carousel-inner mb-2">
          <ng-container *ngFor="let p of topRatedProducts | slice:0:7; index as i; first as isFirst">
            <div *ngIf="i % 2 === 0" [ngClass]="{active: isFirst}" class="carousel-item ">
              <div class="row">
                <div *ngFor="let prod of topRatedProducts | slice:i:(i+2)" class="col-lg-6">
                  <div class="card float  my-1 mx-4">
                    <div *ngIf="prod?.productDiscount > 0" class="ribbon-left"><span>On sale</span></div>
                    <img class="card-img-top p-2" src="{{prod.productImgurl}}" alt="Card image cap">
                    <div class="card-body text-center">
                      <h5 class="card-title text-truncate">{{prod?.productName}}</h5>
                      <ng-container [ngSwitch]="prod?.productDiscount >= 0">
                          <div *ngSwitchCase=" prod?.productDiscount > 0 &&  100 > prod?.productDiscount" class="d-flex flex-row justify-content-center">
                              <h5 class="mr-2 card-title text-secondary"><s>${{prod?.productPrice}}</s></h5>
                              <h4 class=" card-title text-left text-danger">${{setDiscount(prod)}}</h4>
                          </div>
                          <div *ngSwitchCase=" prod?.productDiscount === 0" class="text-center">
                              <h4 class="card-title text-danger">${{prod?.productPrice}}</h4>
                          </div>
                          <div *ngSwitchCase=" prod?.productDiscount === 100" class="d-flex flex-row justify-content-center">
                              <h5 class="mr-2 card-title text-secondary"><s>${{prod?.productPrice}}</s></h5>
                              <h4 class=" card-title text-left text-success">Free</h4>
                          </div>
                      </ng-container>
                      <ng-container *ngIf="prod.productAvailability ; then instock else outofstock"></ng-container>
                      <ng-template #instock>
                        <h5 class="text-success"><i class="fa fa-check mr-1"></i>In stock</h5>
                      </ng-template>
                      <ng-template #outofstock>
                        <h5 class="text-danger"><i class="fa fa-times mr-1"></i>Out of stock</h5>
                      </ng-template>
                      <ul class="rating">
                        <li class="d-inline"><i class="fa fa-star"></i></li>
                        <li class="d-inline"><i class="fa fa-star"></i></li>
                        <li class="d-inline"><i class="fa fa-star"></i></li>
                        <li class="d-inline"><i class="fa fa-star"></i></li>
                        <li class="d-inline"><i class="fa fa-star-o"></i></li>
                      </ul>
                      <a href="#" class="btn btn-primary btn-float btn-block mt-auto " [routerLink]="['/product', prod.productId]">More details</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active float"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class="float"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class="float"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3" class="float"></li>
          </ol>
      </div>
    </div>
  </section>
  <!-- Sorting -->
  <div class="row py-1">
          <label class="col-lg-2 pt-1">Sort by :</label>

      <div class="col-lg-5 pull-left d-flex flex-row justify-content-lg-around justify-content-start align-items-center  pb-1">
        <label class="d-none d-sm-flex">Name : </label>
            <button class="btn  btn-rounded mr-1" (click)="sortByName('asc')">A to Z</button>
            <button class="btn  btn-rounded" (click)="sortByName('desc')">Z to A</button>
      </div>
      <div class="col-lg-5 pull-left d-flex flex-row justify-content-lg-around justify-content-start align-items-center  ">
        <label class="d-none d-sm-flex">Price : </label>
            <button class="btn  btn-rounded mr-1" (click)="sortByPrice('asc')">High to low</button>
            <button class="btn  btn-rounded" (click)="sortByPrice('desc')">Low to high</button>
      </div>
    </div>
    <!-- Products -->
  <div class="row mb-2 mt-5">
    <ng-container *ngFor="let p of products; index as i">
      <div class="col-md-6 col-lg-3 mb-4 cards">
        <div class="card float">
            <div *ngIf="p?.productDiscount > 0" class="ribbon-left"><span>On sale</span></div>
          <img class="card-img-top p-2" [src]="p.productImgurl" alt="Card image cap">
          <div class="card-body text-center d-flex flex-column ">
            <h5 class="card-title text-truncate">{{p.productName}}</h5>
            <ng-container [ngSwitch]="p?.productDiscount >= 0">
                <div *ngSwitchCase=" p?.productDiscount > 0 &&  100 > p?.productDiscount" class="d-flex flex-row justify-content-center">
                    <h5 class="mr-2 card-title text-secondary"><s>${{p?.productPrice}}</s></h5>
                    <h4 class=" card-title text-left text-danger">${{setDiscount(p)}}</h4>
                </div>
                <div *ngSwitchCase=" p?.productDiscount === 0" class="text-center">
                    <h4 class="card-title text-danger">${{p?.productPrice}}</h4>
                </div>
                <div *ngSwitchCase=" p?.productDiscount === 100" class="d-flex flex-row justify-content-center">
                    <h5 class="mr-2 card-title text-secondary"><s>${{p?.productPrice}}</s></h5>
                    <h4 class=" card-title text-left text-success">Free</h4>
                </div>
            </ng-container>
            <ng-container *ngIf="p.productAvailability ; then instock else outofstock"></ng-container>
            <ng-template #instock>
              <h5 class="text-success"><i class="fa fa-check mr-1"></i>In stock</h5>
            </ng-template>
            <ng-template #outofstock>
                <h5 class="text-danger"><i class="fa fa-times mr-1"></i>Out of stock</h5>
            </ng-template>

            <ul class="rating">
                <li class="d-inline"><i class="fa fa-star"></i></li>
                <li class="d-inline"><i class="fa fa-star"></i></li>
                <li class="d-inline"><i class="fa fa-star"></i></li>
                <li class="d-inline"><i class="fa fa-star"></i></li>
                <li class="d-inline"><i class="fa fa-star-o"></i></li>
              </ul>
            <a href="#" class="btn btn-primary btn-float btn-block mt-auto " [routerLink]="['/product', p.productId]" >More details</a>
          </div>
        </div>
      </div>
      <div *ngIf="(i + 1) % 4 === 0" class="w-100"></div>
    </ng-container>
  </div>
  <!-- Pagination -->
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
