
.carousel-indicators li{
  background-color: #0099CC;
  border-radius: 12px;
  width: 12px;
  height: 12px;
}
.carousel-indicators .active{
  width: 18px;
  height: 18px;
  background-color:#0099CC;
}
.carousel{
  border: 1px solid rgb(233, 227, 227);
  border-radius: 5px;
}
