<div class="card float mb-4">
    <div *ngIf="_product?.productDiscount > 0" class="text-center ribbon-right"><span>{{_product?.productDiscount}}% off</span></div>
  <div class="row mt-3">
    <div class="col-lg-6">
      <img  *ngIf="_product" class="img-fluid p-4" [src]="_product?.productImgurl" alt="">
    </div>
    <div class="col-lg-5 mx-sm-3 pt-4">
      <h2><strong>{{_product?.productName}}</strong></h2>
      <div class="row">
          <div class="col-7 text-left">
            <ng-container [ngSwitch]="_product?.productDiscount >= 0">
              <div *ngSwitchCase=" _product?.productDiscount > 0 &&  100 > _product?.productDiscount" class="d-flex flex-row">
                  <h5 class="mr-2 card-title text-secondary"><s>${{_product?.productPrice}}</s></h5>
                  <h4 class=" card-title text-left text-danger">${{setDiscount(_product)}}</h4>
              </div>
              <div *ngSwitchCase=" _product?.productDiscount === 0" class="d-flex flex-row">
                  <h4 class="card-title text-danger">${{_product?.productPrice}}</h4>
              </div>
              <div *ngSwitchCase=" _product?.productDiscount === 100" class="d-flex flex-row">
                  <h5 class="mr-2 card-title text-secondary"><s>${{_product?.productPrice}}</s></h5>
                  <h4 class=" card-title text-left text-success">Free</h4>
              </div>
          </ng-container>
          </div>
          <div class="col-5">
              <ng-container *ngIf="_product?.productAvailability ; then instock else outofstock" ></ng-container>
            <ng-template #instock>
                <h5 class="text-success"><i class="fa fa-check mr-1"></i>In stock</h5>
            </ng-template>
            <ng-template #outofstock>
                <h5 class="text-danger"><i class="fa fa-times mr-1"></i>Out of stock</h5>
            </ng-template>
          </div>
        </div>
      <div class="mt-4">
        <p class="text-justify">{{_product?.productDescription}}</p>
      </div>
      <div class="row">
        <div class="col-md-12 mb-1 mt-5 pb-1">
          <button  class="btn btn-primary float-right float btn-rounded"  (click)="addToCart(_product.productId,1)"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
