<!-- <div class="container">
    <section class="top-rated">
  <div class="controls mb-1 pb-1 mt-1 pt-1 text-center">
    <a class="btn btn-info rounded-circle float mr-1" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="btn  btn-info rounded-circle float ml-1" href="#carouselExampleIndicators" role="button" data-slide="next">
        <i class="fa fa-chevron-right"></i>
    </a>
  </div>
  <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" ></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
    </ol>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="./img/a.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="./img/a.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="./img/a.jpg" alt="Third slide">
        </div>
      </div>
    </div>
  </section>

</div> -->
<div class="conatiner">
  <section class="top-rated mt-2 pb-5 pl-4 pr-4">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="controls mb-1 pb-1 mt-1 pt-1 text-center">
    <a class="btn btn-primary rounded-circle float mr-1" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <i class="fa fa-chevron-left"></i>
    </a>
    <a class="btn  btn-primary rounded-circle float ml-1" href="#carouselExampleIndicators" role="button" data-slide="next">
      <i class="fa fa-chevron-right"></i>
    </a>
  </div>
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active float"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="float"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2" class="float"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3" class="float"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col-3">
          <div class="card">
            <img class="card-img-top" src="./img/1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card float">
            <img class="card-img-top" src="./img/1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card">
            <img class="card-img-top" src="./img/1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
        <div class="row">
            <div class="col-3">
              <div class="card">
                <img class="card-img-top" src="./img/1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card">
                <img class="card-img-top" src="./img/1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card">
                <img class="card-img-top" src="./img/1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="carousel-item">
        <div class="row">
            <div class="col-3">
              <div class="card">
                <img class="card-img-top" src="./img/1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card">
                <img class="card-img-top" src="./img/1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <img class="card-img-top" src="./img/1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="carousel-item">
        <div class="row">
            <div class="col-4">
              <div class="card">
                <img class="card-img-top" src="./img/1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <img class="card-img-top" src="./img/1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <img class="card-img-top" src="./img/1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</section>
</div>
